<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login</title>
    <!--<link href="../static/css/auth.css" rel="stylesheet" type="text/css">-->
    <!--<link href="../static/css/bg.css" rel="stylesheet" type="text/css"/>-->

    <!-- 地址栏显示 -->
    <link rel="Shortcut Icon" th:href="@{/images/hospital.ico}" type="image/x-icon"/>
    <!-- 收藏栏也显示 -->
    <link rel="Bookmark" th:href="@{/images/hospital.ico}" type="image/x-icon"/>
    <link th:href="@{/css/auth.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bg.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet"
          type="text/css"/>

</head>

<body>
<div class="lowin">
    <div class="lowin-brand">
        <img th:src="@{/images/hospitory.png}" alt="logo">
    </div>
    <div class="lowin-wrapper">
        <div class="lowin-box lowin-login">
            <div class="lowin-box-inner">
                <form method="post">
                    <p>Welcome</p>
                    <div class="lowin-group">
                        <label>Email </label>
                        <input type="email" autocomplete="email" name="email" id="email" value="1208585122@qq.com"
                               class="lowin-input">
                    </div>
                    <div class="lowin-group password-group">
                        <label>Password </label>
                        <input type="password" name="password" autocomplete="current-password" value="123" id="password"
                               class="lowin-input">
                    </div>
                    <div class="lowin-group">
                        <input type="checkbox" name="rememberMe"/>
                        <label>记住密码</label>
                    </div>
                    <button class="lowin-btn login-btn" type="submit">
                        登&emsp;录
                    </button>

                    <div class="text-foot">
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        &emsp;&emsp;&emsp;&emsp;<a href="" class="register-link">注册</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="lowin-box lowin-register">
            <div class="lowin-box-inner">
                <form th:action="@{/doregister}" method="post">
                    <p>Register</p>
                    <div class="lowin-group">
                        <!-- <label>Name</label> -->
                        <input type="text" name="username" autocomplete="username" placeholder="Name"
                               class="lowin-input">
                    </div>
                    <div class="lowin-group">
                        <!-- <label>Email</label> -->
                        <input type="email" autocomplete="email" name="email" placeholder="Email"
                               class="lowin-input">
                    </div>
                    <div class="lowin-group">
                        <!-- <label>Password</label> -->
                        <input type="password" name="password" autocomplete="current-password"
                               placeholder="Password" class="lowin-input">
                    </div>
                    <div class="select dowebok">
                        <span class="placeholder">请选择角色</span>
                        <ul id="chooseRole">
                            <li value="1">挂号收费员</li>
                            <li value="2">门诊医生</li>
                            <li value="3">医技师</li>
                            <li value="4">护士管理员</li>
                            <li value="5">住院医生</li>
                            <li value="6">药剂师</li>
                            <li value="7">划价收费员</li>
                            <li value="8">药房管理员</li>
                        </ul>
                    </div>
                    <input type="hidden" name="roleValue" id="roleValue">
                    <label></label>
                    <button class="lowin-btn" type="submit">
                        注&emsp;册
                    </button>

                    <div class="text-foot">
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        &emsp;&emsp;&emsp;&emsp;<a href="" class="login-link">登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="lowin-footer">
        Design By @itskodinger --<a href="https://getbootstrap.com" target="_blank" title="bootstrap">bootstrap</a>.
    </footer>


</div>
<!-- <ul class="bubbles">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul> -->
<!--<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>-->
<!--<script type="text/javascript" src="../static/js/auth.js"></script>-->

<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/auth.js}"></script>
<script>
    Auth.init({
        login_url: '/dologin'
        // forgot_url: '#forgot'
    });

</script>
<script>
    $(function () {
        $("#chooseRole li").click(function () {
            $("#roleValue").val("");
            var temp = $(this).val();
            $("#roleValue").val(temp);
        })
    })
</script>
<!-- <script>
var email=$("#email").val();
var password=$("#password").val();

$("#email").on('blur',function(){
    if($.trim(email)==""){
        $("#email").css('box-shadow','0 0 5px red');
        return false;
    }else{
        $("#email").css('box-shadow','');
    }
})

</script> -->

</body>

</html>